<div class="relative h-screen">
<div class=" {% if section.settings.bgimage == "n1e" %} product_infobg_n1e {% endif %} {% if section.settings.bgimage == "nes" %} product_infobg_nes {% endif %} h-full">
	<div class="flex container mx-auto h-full flex-col ">
		<div class="flex justify-end h-full">
			<div class="md:w-1/2 w-full  h-full lg:items-center items-end lg:pb-0 pb-20 flex">
				<div class=" flex flex-col items-baseline">
					<h1 class="title_productinfo">{{ section.settings.title }}</h1>
					<p class="description_ofproductinfo">{{ section.settings.desc }}</p>
						<a class="button_productdetail flex items-center gap-2" href="{{ section.settings.urlahref }}">{{ section.settings.labelurl }} {% render 'arrow_btn_light', class: 'w-8 h-auto'  %}</a>
				</div>
			</div>
		</div>
		<div class="w-full justify-start">
			<div class="laptop:w-1/2 w-full flex h-full items-end pb-20">
				<div class="flex w-full justify-between">
					{%  for block in section.blocks %}
						<div class="flex flex-wrap items-center product_infodetail">
							<p>{{block.settings.statisticvalue }}</p><span> {{block.settings.statistic}}</span>
							<p class="desc_infodetails">{{block.settings.labelstatistic}}</p>
						</div>
						{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
	
</div>
{% schema %}
{
    "name": "Product Info",
    "class": "section",
    "tag": "section",
    "settings": [
		{
			"type": "select",
			"id": "bgimage",
			"options": [
				{
					"value": "n1e",
					"label": "Change on ne1"
				},
				{
					"value": "nes",
					"label": "Change on Nes"
				}
			],
			"label": "Change Background Image"
		},
      {
        "type": "text",
        "id": "title",
        "default": "Nito Bike ",
        "label": "Title"
      },
			{
        "type": "text",
        "id": "desc",
        "label": "Description",
        "default": "Make your life easier with the N1e electric kick scooter. Same styling as the N1, but with new standard features. Even more comfortable and faster to help you tackle your daily journey routine without effort. Zero emissions, maximum comfort, practical and convenient. The N1e is the intelligent way to move around in complete freedom."
      },
			{
        "type": "url",
        "id": "urlahref",
        "label": "URL"
      },
			{
        "type": "text",
        "id": "labelurl",
        "label": "Url Label"
      }
    ],
    "blocks": [
      {
        "type": "column",
        "name": "t:sections.multicolumn.blocks.column.name",
        "settings": [
          {
            "type": "text",
            "id": "statisticvalue",
            "label": "Statistic Value"
          },
					{
            "type": "text",
            "id": "statistic",
            "label": "Statistic"
          },
					{
            "type": "text",
            "id": "labelstatistic",
            "label": "Statistic Label"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Product Info",
        "blocks": [
          {
            "type": "column"
          }
        ]
      }
    ]
  }
{% endschema %}